<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>Горы и лыжи</title>
    <link rel="stylesheet" href="{% static 'css/blocks.css' %}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){

$(window).scroll(function(){
if ($(this).scrollTop() > 100) {
$('.scrollup').fadeIn();
} else {
$('.scrollup').fadeOut();
}
});

$('.scrollup').click(function(){
$("html, body").animate({ scrollTop: 0 }, 600);
return false;
});

});
</script>
  </head>
  <body>

    <div class="background">
      <div class="transparent"><a name="menu">О горах и лыжах</a></div>
      <hr>
    </div>

    <div class="master"> <!-- Главная коробка -->
        
        <div class="header"><!-- коробка шапки -->
        </div>

        <!-- Меню -->
        {% include "menu.html" %}

 
    </div>

    {% block content %}
    {% endblock content %}

    <a href="#" class="scrollup">Наверх</a>
</body>
<script src="{% static '1.js' %}"></script>
</html>