table {
border: 1px solid grey;
border-collapse: collapse;
width: 100%;
}
/* границы ячеек первого ряда таблицы */
th {
border: 1px solid grey;
}
/* границы ячеек тела таблицы */
td {
border: 1px solid grey;
}
p {
    margin: 5px;
}
section {
    margin: 10px;
}