{% extends 'app_orm/base.html' %}

{% block title %}
App ORM Form
{% endblock title %}

{% block content %}
<section>
    <h2>Формулировка задачи: {{ form.instance.tusk }}</h2>
</section>
<section>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </form>
</section>
{% if request.method == 'POST' %}
<section>
    <h3>В базу данных добавлена новая запись</h3>
    <table>
        <tr>
            {% for name in fields_name %}
            <th>
                <p>{{ name }}</p>
            </th>
            {% endfor %}
        </tr>
        <tr>
            {% for value in values %}
            <td>
                <p>{{ value }}</p>
            </td>
            {% endfor %}
        </tr>
    </table>
</section>
{% endif %}
{% endblock content %}